<div class="wrapper_block">
  <header>
          <h1>Edit</h1>
          <h3><%= resource_name.to_s.humanize %></h3>
    </header>
  <div class="task-container">
    <div class="task-header white">
      <div class="task-title">
      </div>
    </div>
    
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= devise_error_messages! %>
      <div class="form-block text-center">
        <%= f.label :email %>
        <%= f.email_field :email, autofocus: true %>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
        <% end %>
      </div>

      <div class="form-block text-center">
        <%= f.label :password %> 
        <i>(leave blank if you don't want to change it)</i>
        <br>
        <%= f.password_field :password, autocomplete: "off" %>
      </div>

      
      <div class="form-block text-center">
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation, autocomplete: "off" %>
      </div>

      <div class="form-block text-center">
        <%= f.label :current_password %>

        <i>(we need your current password to confirm your changes)</i>
        <br>
       <%= f.password_field :current_password, autocomplete: "off" %>
      </di>
      

      <div class="form-clock text-center">
        <%= f.submit "Update", :id => "add-task", :class => "btn btn-default white" %>
      </div>
    <% end %>

    <h3>Cancel my account</h3>

    <p>Unhappy? <br>
    <br>
    <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>
    <br>
    <%= link_to "Back", :back %>
   
  </div>
</div>