<div class="wrapper_block">
	<header>
          <h1>Sign up</h1>
    </header>
	<div class="task-container">
		<div class="task-header white">
			<div class="task-title">
			</div>
		</div>
		
		<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  		<%= devise_error_messages! %>
		  <div class="form-block text-center">
		  	<%= f.label :email %>
		  	<%= f.email_field :email, autofocus: true %>
		  </div>

		  	<div class="form-block text-center">
			  	<%= f.label :password %> 
			  	<% if @validatable %>
			  		<i>(<%= @minimum_password_length %> characters minimum)</i>
			  		<br>
			  	<% end %>
			    <%= f.password_field :password, autocomplete: "off" %>
			</div>

		  	<div class="form-block text-center">
			  	<%= f.label :password_confirmation %>
			    <%= f.password_field :password_confirmation, autocomplete: "off" %>
			</div>

		  <div class="form-block text-center">
		  	<%= f.submit "Sign up", :id => "add-task", :class => "btn btn-default white"%>
		  </div>
		<% end %>
	<%= render "devise/shared/links" %>
	 
	</div>
</div>




 
