<!DOCTYPE html>
<html>
<head>
	
	<title>RuG</title>
	
</head>
<body>

</body>
</html>

    <div class="wrapper_block">
        <header>
          <h1>simple todo lists</h1>
           <h3>from ruby garage</h3>
        </header>
        <div class="task-container">
          <div class="task-header white">
            <div class="task-title">
              <span class="glyphicon glyphicon-calendar white"></span>
              <h3>Add new task</h3>
            </div>
            <!-- <div class="task-controls btn-group btn-group-sm" role="toolbar">
            	<div>
            		<a href="">
	                	<span class="glyphicon glyphicon-pencil white disable"></span>
	              	</a>
            	</div>
            	<div>
            		<a href="">
		                <span id="delete-task" class="glyphicon glyphicon-trash white disable"></span>
		            </a> 
            	</div> 
            </div> -->
          </div>
          <div class="task-body">
            <div class="task-add-row">
              <div class="task-add-inner">
                <span class="glyphicon glyphicon-plus green"></span>
                <div class="input-group">
                  <input type="text" class="form-control" id="name_input" required="required" placeholder="Start typing here to create a task..." required>
                  <div class="styled-select">
                  	<%= select_tag id = "project_id", options_for_select(@projects_all.collect{ |u| [u.name, u.id] }) %>
                  </div>
                  	
                  <span class="input-group-addon green-bg white" id="add_task_button" >Add Task</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <% @projects_all.each do |project| %>
	        <div class="task-container">
	        	<div class="task-header white">
		            <div class="task-title">
		              <span class="glyphicon glyphicon-calendar white"></span>
		              <h3><%= project.name %></h3>
		            </div>
		            <div class="task-controls btn-group btn-group-sm" role="toolbar">
		            	<div>
		            		<a href="<%=edit_project_path(project)%>">
		            			<span class="glyphicon glyphicon-pencil white disable"></span>
		            		</a> 
		            	</div>
		              	
		               	<div>
							<%= link_to raw("<span id='delete-task' class='glyphicon glyphicon-trash white disable'></span>"), project_path(project),
							method: :delete,
							data: {confirm: 'Are you sure?'}%>
		               	</div>
		            </div>
		        </div>
		        <% @tasks_all.each do |task| %>
					<% if task.project && task.project.name == project.name %>         
						<div class="added-task-wrapper">
						    <div class="added-task-state">
						      <%= check_box_tag 'done', '1', task.completed%>
						    </div>
						    <div id="name" class="added-task-title">
						      <h4><%= task.name %></h4>
						    </div>
						    <div class="added-task-controls">
						      <!-- <span class="glyphicon glyphicon-sort gray"></span> -->
							    <div>
							    	<a href="<%=edit_task_path(task) %>">
							    		<span class="glyphicon glyphicon-pencil gray"></span>
							    	</a>
							    </div>
							    <div>
							 
							    	<%= link_to raw("<span id='delete-task' class='glyphicon glyphicon-trash gray disable'></span>"), task_path(task),
										method: :delete,
										data: {confirm: 'Are you sure?'}%>
							    </div>  	
						    </div>
						</div>
					<% end %>
				<% end %>	
			</div>
		<% end %>
    </div>


<%= form_for Project.new do |f| %>
  <div class="text-center">
    <%= f.text_field :name, :placeholder => "Enter name of the project"%>
  </div>
  <div class="text-center">
  	<span class="glyphicon glyphicon-plus white"></span>
    <%= f.submit :id => "add-task", :class => "btn btn-default white", :required => "required" %>
  </div>
<% end %>
