<div class="wrapper_block">
	<header>
          <h1>Forgot your password?</h1>
    </header>
	<div class="task-container">
		<div class="task-header white">
			<div class="task-title">
			</div>
		</div>
		
		<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
		<%= devise_error_messages! %>
		  <div class="form-block text-center">
		  	<%= f.label :email %>
  			<%= f.email_field :email, autofocus: true %>
		  </div>

		  <div class="form-clock text-center">
		  	<%= f.submit "Send me reset password instructions", :id => "add-task", :class => "btn btn-default white" %>
		  </div>
		<% end %>

	<%= render "devise/shared/links" %>
	 
	</div>
</div>