<div class="wrapper_block">
	<header>
          <h1>Edit</h1>
          <h3><%= @project.name.capitalize %></h3>
    </header>
	<div class="task-container">
		<div class="task-header white">
			<div class="task-title">
				<span class="glyphicon glyphicon-pencil white"></span>
				<h3><%= @project.name.capitalize %></h3>
			</div>
		</div>
		<%= form_for :project, url: project_path(@project), method: :patch do |f| %>
	 
	  	<div class="form-block">
	  		<%= f.label 'Change a name' %>
	    	<%= f.text_field :name %>
	  	</div>
	  	<div class="form-block text-center">
	  		<%= f.submit :id => "add-task", :class => "btn btn-default white" %>
	  	</div>
	 
	<% end %>

	<%= link_to 'Back', root_path, :class => "back" %>
	 
	</div>
</div>




 
