<div class="wrapper_block">
	<header>
          <h1>Delete</h1>
          <h3><%= @project.name.capitalize %></h3>
    </header>
	<div class="task-container">
		<div class="task-header white">
			<div class="task-title">
				<span class="glyphicon glyphicon-trash white"></span>
				<h3><%= @project.name.capitalize %></h3>
			</div>
		</div>
		<%= form_for :project, url: project_path(@project), method: :patch do |f| %>
	 
	  	<div class="form-block">
	  		<p>Are you sure?</p>
	  	</div>
	  	<div class="form-block text-center">
			
	 
	
	  		
	  	</div>
	 
	<% end %>

	<%= link_to 'Back', root_path, :class => "back" %>
	 
	</div>
</div>




 
