@font-face {
	font-family: 'Glyphicons Halflings';
  	src: url('../assets/glyphicons-halflings-regular.eot');
  	src: url('../assets/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), 
  		url('../assets/glyphicons-halflings-regular.woff') format('woff'), 
  		url('../assets/glyphicons-halflings-regular.ttf') format('truetype'), 
  		url('../assets/glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg');
}

body {
	background: #ECEBE3;
	
	background: -webkit-linear-gradient(top, #ecebe3 0%, #e4d232 100%);
	background: -moz-linear-gradient(top, #ecebe3 0%, #e4d232 100%);
    background: -o-linear-gradient(top, #ecebe3 0%, #e4d232 100%);
    background: -ms-linear-gradient(top, #ecebe3 0%, #e4d232 100%);
    background: linear-gradient(to top, #E4D232, #ECEBE3);
}

body,
html {
	padding: 0;
	margin: 0;
	min-height: 100%;
/*	height: 100%;*/
	font-size: 14px;
	font-family: "Montserrat", "sans-serif";
}

h3 {display: inline-block;}

.glyphicon {
	font-family: 'Glyphicons Halflings';
}

.wrapper_block {
	max-width: 705px;
	margin: 0 auto;
}

.white {color: #fff;}

.green {color: #94cbae;}

.gray {color: #999;}

.green-bg {
	background: #91c8ab;
	background: -moz-linear-gradient(top, #91c8ab 0%, #508767 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#91c8ab), color-stop(100%,#508767)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #91c8ab 0%, #508767 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #91c8ab 0%, #508767 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #91c8ab 0%, #508767 100%); /* IE10+ */
	background: linear-gradient(to bottom, #91c8ab 0%, #508767 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#91c8ab', endColorstr='#508767',GradientType=0 ); /* IE6-9 */
}


/*styles for header*/

header {
	margin: 60px 0;
	text-align: center;
}
header h1,
header h3 {text-transform: uppercase; margin: 0;}

header h1 {
	font-size: 30px;
	font-weight: 600;
}

header h3 {
	font-weight: normal;
	font-size: 16px;
}


/*styles for task container*/

.task-container {
	border: 1px solid #707070;
	border-bottom-right-radius: 20px;
	border-bottom-left-radius: 20px;
	overflow: hidden;
	background: #fff;
	margin-bottom: 40px;
}

.task-header {
	position: relative;
	height: 50px;
	background: #4d86c1; /* Old browsers */
	background: -moz-linear-gradient(top, #4d86c1 0%, #345ca2 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4d86c1), color-stop(100%,#345ca2)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #4d86c1 0%, #345ca2 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #4d86c1 0%, #345ca2 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #4d86c1 0%, #345ca2 100%); /* IE10+ */
	background: linear-gradient(to bottom, #4d86c1 0%, #345ca2 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4d86c1', endColorstr='#345ca2',GradientType=0 ); /* IE6-9 */

	border-bottom: 1px solid #707070;
}

.task-title,
.task-add-inner {
	display: inline-block;
	font-size: 20px;
	line-height: 50px;
	margin: 0 10px;
}

.task-title span {
	display: inline-block;
	vertical-align: middle;
}

.task-title h3,
.task-add-inner h3 {
	font-size: 16px;
	display: inline-block;
}

.task-controls {
	float: right;
	height: 50px;
	font-size: 16px;
}

.task-controls button {
	background: transparent;
	border: none;
	outline: none;
}

.disable.glyphicon {opacity: .5;}

.task-controls button:first-child {
	border-right: 1px solid #486db1;
}

.task-controls {
	width: 124px;
	display: table;
}

.task-add-row {
	position: relative;
	height: 50px;
	background: #e0e0e0; /* Old browsers */
	background: -moz-linear-gradient(top, #e0e0e0 0%, #cccccc 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e0e0e0), color-stop(100%,#cccccc)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #e0e0e0 0%, #cccccc 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #e0e0e0 0%, #cccccc 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #e0e0e0 0%, #cccccc 100%); /* IE10+ */
	background: linear-gradient(to bottom, #e0e0e0 0%, #cccccc 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4d86c1', endColorstr='#cccccc',GradientType=0 ); /* IE6-9 */

	cursor: pointer;
	border-bottom: 1px solid #707070;
}

.task-add-inner {
	margin: 0;
	display: block;
	padding: 10px 10px 0 0;
}

.task-add-inner .input-group .input-group-addon{
	padding: 6px 25px;
	border: 1px solid #707070;
	border-right-bottom: 5px;
	border-right-top: 5px;
}

.task-add-inner .input-group input {
	height: 30px;
	box-shadow: inset 0 1px 0 #707070;
	-webkit-box-shadow: inset 0 1px 0 #707070;
	border-radius: 0;
	outline: none;
	width: 60%;
}

.glyphicon-plus {
	float: left;
	width: 49px;
	text-align: center;
	cursor: default;
}

.glyphicon-calendar {
	margin-right: 10px;
}

/*styles for added tasks*/

.added-task-wrapper {
	height: 50px;
	border-bottom: 1px solid #e7ebea;
	line-height: 50px;
}

.added-task-wrapper:hover {
	background: rgb(245, 245, 152);
}

.added-task-state {
	font-size: 16px;
	display: inline-block;
	width: 49px;
	border-right: 1px solid #efdadf;
	text-align: center;
	position: relative;
}

.added-task-state:before {
	content: "";
	position: absolute;
	top: 0;
	background: #efdadf;
	display: inline-block;
	width: 1px;
	height: 50px;
	right: 10px;
}

.added-task-title {
	display: inline-block;
	padding-right: 10px;
}

.added-task-controls {
	float: right;
	width: 124px;
	border-left: 1px solid #e7ebea;
	display: table;
	height: 50px;
}

.added-task-title h4 {
	color: #999;
	font-size: 13px;
	padding: 0 5px;
}

.added-task-controls div,
.task-controls div {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	position: relative;
	cursor: pointer;
}

.added-task-controls div:first-child:after,
.added-task-controls div:nth-child(2):after {
	content: "";
	position: absolute;
	background: #e7ebea;
	right: 0;
	top: 15px;
	display: inline-block;
	width: 1px;
	height: 20px;
}

/*styles for button*/

#add-task {
	margin: 10px auto;
	padding: 14px 35px;
	background: #4d86c1; /* Old browsers */
	display: block;
	background: -moz-linear-gradient(top, #4d86c1 0%, #345ca2 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4d86c1), color-stop(100%,#345ca2)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #4d86c1 0%, #345ca2 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #4d86c1 0%, #345ca2 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #4d86c1 0%, #345ca2 100%); /* IE10+ */
	background: linear-gradient(to bottom, #4d86c1 0%, #345ca2 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4d86c1', endColorstr='#345ca2',GradientType=0 ); /* IE6-9 */
}

#add-task:hover,
#add-task:active {color: #fff;}

#add-task span.glyphicon-plus {
	float: none;
	width: auto;
	text-align: left;
}

.styled-select {

	width: 37%;
	padding: 0 5px;
	border: 0;
	border-radius: 0;
	height: 34px;
	-webkit-appearance: none;
	display: block;

	height: 30px;
	overflow: hidden;
	background: #AFACAC;
	border: 1px solid #979393;
	font-size: 14px;
	line-height: 31px;

	margin: 0 auto;
}

.styled-select select {
	background: transparent;
	border: none;
	outline: none;
	width: 100%;
	cursor: pointer;
}

form input[type="text"] {
	margin: 0 auto;
	padding: 14px 10px;
	display: block;
	box-sizing: border-box;
	width: 40%;
}

form div { 
	max-width: 705px;
	margin: 0 auto;
}

form div.text-center:last-child {
	position: relative;
}

form .glyphicon-plus {
	float: none;
	position: absolute;
	left: 37%;
	top: 17px;
	z-index: 2;
}

.form-block {
	padding: 20px;
}

.form-block input[type="text"] {
	margin-top: 10px;
	width: 100%;
}

.form-block input[type="email"],
.form-block input[type="password"] {margin-top: 10px;}

.form-block label {
	margin-bottom: 10px;
	display: block;
}

.back,
.forgot,
.login {
	display: block;
	margin: 0 0 20px 20px;
}

.sign {
	display: block;
	margin-left: 20px;
}

#task_completed {width: auto;}

#user_nav {
	height: 50px;
	line-height: 50px;
	text-align: right;
	margin: 0 30px auto;
}
