<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
	<title>RuG</title>
	<link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
	<%= stylesheet_link_tag    'application', media: 'all' %>
	<%= javascript_include_tag 'application' %>
		

</head>
<body>

<div id="user_nav">
	<% if user_signed_in? %>
		<!-- <div id="user_nav_left"> -->
		<div id="user_nav_right">
		<strong><%= current_user.email %></strong> |
		<%= link_to "Settings", edit_user_registration_path %> |
		<%= link_to "Exit", destroy_user_session_path, method: :delete %>
	<% else %>
		<%= link_to "Registration", new_user_registration_path %> |
		<%= link_to "Login", new_user_session_path %>
	<% end %>
		</div>
</div>

<%= yield %>

</body>
</html>
