<div class="wrapper_block">
	<header>
          <h1>Log in</h1>
    </header>
	<div class="task-container">
		<div class="task-header white">
			<div class="task-title">
			</div>
		</div>
		
		<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
		  <div class="form-block">
		  	<%= f.label :email %>
		  	<%= f.email_field :email, autofocus: true %>
		  </div>

		  <div class="form-block">
		  	<%= f.label :password %>
		    <%= f.password_field :password, autocomplete: "off" %>
		</div>

		  <% if devise_mapping.rememberable? -%>
		    <div class="form-block">
		    	<%= f.check_box :remember_me %> <%= f.label :remember_me %>
		    </div>
		  <% end -%>

		  <div class="form-clock text-center">
		  	<%= f.submit "Log in" :id => "add-task", :class => "btn btn-default white" %>
		  </div>
		<% end %>

	<%= render "devise/shared/links" %>
	 
	</div>
</div>




 
